<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Lugar de Muestra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="top-md">
    <ion-card-header>
      <!--ion-card-subtitle>Oct 11, 2:25 AM</ion-card-subtitle-->
      <ion-card-title>Oct 11, 2:25 AM</ion-card-title>.
      <ion-label>Nombre: </ion-label>
      <ion-input placeholder="Ingrese el nombre de la posicion actual"></ion-input>
    </ion-card-header>

    <ion-card-content src="https://www.weather-forecast.com/locationmaps/Torreon.12.gif">
      latitud: -93.1093722,14.75
      longitud: 16.6177061
    </ion-card-content>
  </ion-card>
  <ion-button color="success" size="large" class="button button-assertive button-outline">
    <ion-icon class="dis" src="https://image.flaticon.com/icons/svg/52/52177.svg"></ion-icon>
    Tomar Muestra
  </ion-button>



  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Speakers</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>





</ion-content>