<ion-header>
  <ion-toolbar>
    <ion-title>
      El 5 de Liz
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="flex-col-center">
    <ion-button color="success" size="large" class="button button-assertive button-outline" routerLink="/procesamiento">
      <ion-icon class="croma" name="disc"></ion-icon>
      Analisis
    </ion-button>

    <ion-button size="large" class="button button-assertive button-outline" routerLink="/geolocalizacion">
      <ion-icon class="croma" ios="ios-navigate" md="md-navigate"></ion-icon>
      Muestra
    </ion-button>
  </div>

</ion-content>