<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Informacion de Muestra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ubicacion del Terreno</ion-card-subtitle>

      <ion-grid>

        <ion-row>

          <ion-col>
            Pais <br>
            <ion-chip class="chip-outline" color="success">
              <ion-icon src="https://image.flaticon.com/icons/svg/82/82269.svg"></ion-icon>
              <ion-label>Mexico</ion-label>
            </ion-chip>
          </ion-col>

          <ion-col>
            Estado <br>
            <ion-chip class="chip-outline" color="success">
              <ion-icon src="https://image.flaticon.com/icons/svg/149/149224.svg"></ion-icon>
              <ion-label>Chiapas</ion-label>
            </ion-chip>
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col>
            Municipio <br>
            <ion-chip class="chip-outline" color="success">
              <ion-icon src="https://image.flaticon.com/icons/svg/1076/1076731.svg"></ion-icon>
              <ion-label>Comitan</ion-label>
            </ion-chip>
          </ion-col>

          <ion-col>
            Lugar <br>
            <ion-chip class="chip-outline" color="primary" type="button">
              <ion-label>Opciones </ion-label>
              <ion-icon src="https://image.flaticon.com/icons/svg/32/32195.svg"></ion-icon>
            </ion-chip>
          </ion-col>

        </ion-row>

      </ion-grid>

      <ion-card-title>Informacion del Terreno</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-row>

        <ion-col>
          <ion-label>
            Nombre:
            <ion-icon src="https://image.flaticon.com/icons/svg/1034/1034614.svg" color="primary"></ion-icon>
            <ion-label color="primary" class="outline"> Tepeyac</ion-label>
          </ion-label>
        </ion-col>

        <ion-col>
          <ion-label>
            N° Muestra:
            <ion-icon src="https://image.flaticon.com/icons/svg/1235/1235443.svg" color="primary"></ion-icon>
            <ion-label color="primary"> 12</ion-label>
          </ion-label>
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col>
          <ion-label>
            Latitud:
            <ion-icon src="https://image.flaticon.com/icons/svg/992/992310.svg" color="primary"></ion-icon>
            <ion-label color="primary"> 16.5465</ion-label>
          </ion-label>
        </ion-col>

        <ion-col>
          <ion-label>
            Logitud:
            <ion-icon src="https://image.flaticon.com/icons/svg/992/992312.svg" color="primary"></ion-icon>
            <ion-label color="primary"> -15.1854</ion-label>
          </ion-label>
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col>
          Clima: <br>
          <ion-chip class="chip-outline" color="primary" type="button">
            <ion-icon src="https://image.flaticon.com/icons/svg/861/861077.svg"></ion-icon>
            <ion-label> Lluvioso </ion-label>
            <ion-icon src="https://image.flaticon.com/icons/svg/32/32195.svg"></ion-icon>
          </ion-chip>
        </ion-col>

        <ion-col>
          Profundidad: <br>
          <ion-chip class="chip-outline" color="primary" type="button">
            <ion-icon src="https://image.flaticon.com/icons/svg/71/71624.svg"></ion-icon>
            <ion-label> 25 cm </ion-label>
            <ion-icon src="https://image.flaticon.com/icons/svg/32/32195.svg"></ion-icon>
          </ion-chip>
        </ion-col>

      </ion-row>

      <ion-row>

        <img src="https://developer.here.com/tutorials/javascript-api/graphics/app.png">
        <ion-chip class="chip-outline" color="primary" type="button">
          <ion-icon src="https://image.flaticon.com/icons/svg/408/408270.svg"></ion-icon>
          <ion-label> Analizar </ion-label>
        </ion-chip>

      </ion-row>



      <!--ion-row>

        <ion-col size="12">

          <ion-chip class="chip-outline" color="primary" type="button">
            <ion-icon src="https://image.flaticon.com/icons/svg/408/408270.svg"></ion-icon>
            <ion-label> Analisar </ion-label>
          </ion-chip>

        </ion-col>

      </ion-row-->

    </ion-card-content>

  </ion-card>

</ion-content>

<!--ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Speakers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs-->